{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Orders</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ordered.css' %}" >
</head>
<body>


  <div class="form">
<div>
      <h1> Customer Orders</h1>
  <br>

  <table>
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Status</th>

    </tr>
    {% for order in order %}
    <tr>
    <form action="{% url 'delivery' order.id %}" method="POST">
        {% csrf_token %}
        <td style="text-align:left;"><input style="font-size: 15px" type="text" name="item_name" value="{{ order.name }}" readonly></td>

        <td>
            <input type="text" name="item_quantity" min="1" value="{{ order.Quantity }}" onchange="updatePrice(this, {{ cart.Price }})" readonly>

            <input style="display:none;" type="number" name="item_price" value="{{ order.Price }}">

        </td>
        <td class="price" >{{ order.Price }}</td>
        <td>
            {% if order.Status == 'ongoing' %}
               <button type="submit" style="background-color:Green">Mark on Delivery</button>
            {% else %}
                {{ order.Status }}
            {% endif %}
        </td>


            </form>







    </tr>



    {% endfor %}
</table>
</div>



  <br>  <br>  <br>


<div style="display: flex; justify-content: space-between; align-items: center; ">
    <a href="{% url 'index' %}" style="font-size: 12px; color: black; text-decoration:none;">Back</a>

    </div>
  </div>

<script>

    function updatePrice(input, unitPrice) {
        var quantity = input.value;
        var totalPrice = quantity * unitPrice;


        var priceCell = input.parentNode.nextElementSibling;
        priceCell.innerHTML = totalPrice.toFixed(2);



    }


</script>
</body>
</html>